.boxSigneUp {
    background-color: transparent;
    border-radius: 1px;
    padding: 1px;
    text-align: center;
}
.h2SigneUp {
    background-color: transparent;
    padding: 1px;
    text-align: center;
    font-family: Calibri, serif;
    font-size: 25px;
    font-kerning: auto;
}
.headerLogin {
    background-color: transparent;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
    font-size: 35px;
}