.boxSigneUp {
    background-color: grey;
    border-radius: 1px;
    width: auto;
}
.h2SigneUp {
    background-color: grey;
    padding: 1px;
    text-align: center;
    font-family: Calibri, serif;
    font-size: 25px;
    font-kerning: auto;
    width: auto;
}
.headerSigneUp {
    background-color: grey;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
    font-size: 40px;
    width: auto;
}