div{
    background-color: white;
}
span{
    background-color: white;
}
input{
    position: relative;
    background-color: white;
    text-align: center;
    font-size: smaller;
}
.text{
    color: black;
    text-align: center;
    font-size: smaller;
}