.boxLogin {
    background-color: transparent;
    border-radius: 1px;
    padding: 1px;
    text-align: center;
}

.h2Login {
    background-color: transparent;
    padding: 1px;
    text-align: center;
    font-family: Calibri, serif;
    font-size: 25px;
}