.NavBar {
    display: flex;
    align-items: center;
    height: 160px;
    width: 100%;
    background-color: transparent;
    color: #39312C !important;
    position: fixed;
    top: 0;
    font-weight: 400;
}
.NoTop {
    transition: all 0.5s ease 0s;
    background: transparent;
    height: 3em;
}

.nav-links {
    display: compact;
    justify-content: center;
    list-style: none;
    width: 75%;
    color: #39312C !important;
    padding: 30px 60px;
    background: rgb(250, 245, 242, 0.5);
    border-radius: 21px;
    font-size: 25px;
}