.modal {
    position:center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    background-color: transparent;
}

@keyframes open-modal {
    0% {
        transform: scale(0.0);
    }

    100% {
        transform: scale(1.0);
    }
}

.modal-content {
    background-color: transparent;
    margin: 0 auto;
    padding: 1em;
    border: 0;
    border-radius: 0.5em;
    text-align: center;
    animation: open-modal 0.5s;
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background: black;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}