.modalButton {
    background-color: transparent;
    zoom: 100%
}

.modalButton {
    background-color: transparent;
    zoom: 100%
}

.modalButton:hover {
    transition: 0.5s ease-out;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px 0px;
    margin-top: 10px;
    cursor: pointer;
}

.clicked {
    border: 1px solid white;
}

.modalButton[type=delete]{
    color: red;
}

.modalButton[type=delete]:hover{
    background-color: red;
}

.modalButton[type=close]{
    color: black;
}

.modalButton[type=close]:hover{
    background-color: black;
}

.modalButton[type=edit]{
    color: green;
}

.modalButton[type=edit]:hover{
    background-color: green;
}

.modalButton[type=archive]{
    color: blue;
}

.modalButton[type=archive]:hover{
    background-color: blue;
}

.input[type=submit]
{
    color: black;
}

.input[type=submit].hover
{
    background-color:gray;
    color: black;
}


