.formHeader
{
    width:300px;
    position: center;
    background-color: transparent;
    font-size: 35px;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    letter-spacing: 1px;
}

.formTitle {
    background-color: white;
    color: black;
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 1em;
    padding: 0.7em 0.9em;
    transition: 0.5s ease-out;
    font-size: 15px;
    text-align: center;
}

.formDescription {
    text-align: left;
}

textarea{
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
.formSpan{
    background-color: black;
    color: white;
    display: grid;
    padding: 10px;
    margin-top: 10px;
    grid-auto-flow: column;
    grid-column-gap: 1px;
    justify-items: center;
}
input[type=text],
input[type=password],
input[type=submit],
input[type=email],
input[type=number],
input[type=file],
select

{
    width:available;
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 15px 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    outline: none;
}

input[type=text]:hover,
input[type=password]:hover,
input[type=submit]:hover,
input[type=email]:hover,
input[type=number]:hover,
input[type=file]:hover,
button:hover,
textarea:hover,
select:hover
{
    -webkit-box-shadow: 0 0 10px 2px;
    -moz-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
    box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
    border: 10px solid black;
    background-color: black;
    color: white;
}

input[type=text]:focus,
input[type=submit]:focus,
input[type=password],
input[type=email]:focus,
input[type=number]:focus,
input[type=file]:focus,
button:focus,
textarea:focus,
select:hover
{
    -webkit-box-shadow: 0 0 10px 2px;
    -moz-box-shadow: 3px 3px 30px 5px rgba(0, 0, 204, 0.9);
    box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
    border: 10px solid black;
    background-color: white;
    color: black;
}

button
{
    width:150px;
    background-color: black;
    font-size: 20px;
    color: white;
    padding: 10px 10px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    outline: none;
}